body {
  background-color: #d1cdb7;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204,200,177,0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: #454138;
}
::selection {
  background-color: #bab5a1;
}


p {
  margin: 0 0 1rem 0;
}
mark {
  background-color: #454138;
  color: #dcd8c0;
}
h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 #bab5a1;
}
h2 {
  font-weight: lighter;
  border: solid #454138;
  border-width: 0.1rem 0;
  padding: 0.1rem 1rem;
}


hr {
  margin: 1rem 0;
  border-top: solid #bab5a1;
  border-width: 0.1rem 0 0 0;
}


button:not(:disabled),
.button {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  
  appearance: none;
  border-radius: 0;
  background-color: #bab5a1;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: color, background-color, box-shadow;
  position: relative;
  z-index: 1;

}

button:not(:disabled):hover,
.button:hover {
  background-color: transparent;
  color: #dcd8c0;
}
button:not(:disabled):hover:before,
.button:hover:before {
  top: -0.2rem;
  bottom: -0.2rem;
  border: solid #454138;
  border-width: 0.1rem 0;
}
button:not(:disabled):hover:after,
.button:hover:after {
  width: 100%;
}
button:not(:disabled):active,
.button:active {
  color: #454138;
}







@font-face {
        font-family: SCE PS3 RD R LATIN;
      src: url(SCE-PS3-RD-R-LATIN.TTF);
    }
    * {
      font-family: SCE PS3 RD R LATIN;
    }
    

    figure {
      display: flex;
      flex-direction: column;
      
      background-color: #dcd8c0;
      padding: 0.5rem;
      width: 33%;


    }
    figure > :not(figcaption) {
      margin: 0.5rem;
      
    }
    figure > figcaption {
      order: -1;
      margin: -0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      background-color: #454138;
      color: #bab5a1;

    }



    .container {
      display: flex;
      justify-content:  space-between;
    }

    

    a {
      text-decoration: none;
      border: solid;

    }


    button:not(:disabled),
    .button {
      padding: 0.5rem;
      font-size: 1em;
      margin: -0.5rem;
      margin-bottom: 0.5rem;
      border: none;
      outline: none;
      
      appearance: none;
      border-radius: 0;
      background-color: #bab5a1;
      color: inherit;
      font-family: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
      cursor: pointer;
      transition-duration: 0.2s;
      transition-property: color, background-color, box-shadow;
      position: relative;
      z-index: 1;


    }

    button:not(:disabled):before,
    .button:before {
      content: '';
      transition: all 0.2s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    button:not(:disabled):after,
    .button:after {
      content: '';
      transition-timing-function: ease-out;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: #454138;
      z-index: -1;
    }


@media only screen and (max-width: 1000px) {
  .container {
    display: block;
  }

  figure {
    margin-top: 3rem;
    margin-bottom: : 3rem;
    width: 75%;
  }
}




